body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fafbfb;
}

h2 {
  font-family: cursive;
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  text-decoration: underline;
}

 li {
  margin-bottom: 15px;
}

a {
  color: black;
}

#avatar-pic{
  width: 400px;
  height: 400px;
}

.profile-blurb{
  display: flex;
}

.edu_degrees label {
  font-family: cursive;
  font-size: 16px;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 50px;
}

.media-container {
  margin-bottom: 200px;
}

#profile-menu-selector {
  font-family: cursive;
}

.tech-skills-table {
  width: 95%;
  border-collapse: collapse;
}

.tech-skills-table tr, .tech-skills-table td, .tech-skills-table th {
  font-family: cursive;
}

.tech-skills-table tr {
  text-align: left;
}

.tech-skills-table th {
  background-color: #ddd;
}

.tech-skills-table td, .tech-skills-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.work-exp-list li {
  font-family: cursive;
}

span.flex-inline {
  display: contents;
}

.fav-song-vid {
  width: 560px;
  height: 315px;
}

.fav-film-vid {
  width: 560px;
  height: 315px;
}

.fav-show-vid {
  width: 560px;
  height: 315px;
}

@media print{

  .tech-skills-table th {
    background-color: #beedf3;
  }

  .tech-skills-table {
    margin-top: 15px;
  }
}
