body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fafbfb;
}

h2 {
  font-family: cursive;
  font-size: 35px;
  margin-left: 25px;
  margin-bottom: 30px;
  text-decoration: underline;
}

 li {
  margin-bottom: 15px;
}

a {
  color: black;
}

.button-content {
  border: none;
  color: white;
  padding: 17px 25px;
  transition-duration: 0.3s;
}

.button-content:hover {
  background: #A9A9A9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.prof-overview-btn {
  background: #6495ED;
}

.edu-btn {
  background: #8FBC8F;
}

.work-exp-btn {
  background: #DEB887;
}

.tech-skills-btn {
  background: #B8860B;
}

.gen-interest-btn {
  background: #2F4F4F;
}

.media-btn {
  background: #800000;
}

.fav-website-btn {
  background: #8B008B;
}

.course-proj-btn {
  background: #228B22;
}

#avatar-pic{
  width: 400px;
  height: 400px;
}

.profile-blurb{
  display: flex;
}

.edu_degrees label {
  font-family: cursive;
  font-size: 16px;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 50px;
}

.media-container {
  margin-bottom: 200px;
}

.profile-menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-menu-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-menu-selector {
  font-family: cursive;
}

.tech-skills-table {
  width: 95%;
}

.tech-skills-table tr, .tech-skills-table td, .tech-skills-table th {
  font-family: cursive;
}

.tech-skills-table tr {
  text-align: left;
}

.tech-skills-table th {
  background-color: #1E90FF;
  color: #fff;
}

.tech-skills-table td, .tech-skills-table th {
  padding: 8px;
}

.work-exp-list li {
  font-family: cursive;
}

span.flex-inline {
  display: contents;
}

.fav-song-vid {
  width: 560px;
  height: 315px;
}

.fav-film-vid {
  width: 560px;
  height: 315px;
}

.fav-show-vid {
  width: 560px;
  height: 315px;
}

@media print{

  .tech-skills-table th {
    background-color: #beedf3;
  }

  .tech-skills-table {
    margin-top: 15px;
  }
}
