body {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: cursive;
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  text-decoration: underline;
}

 li {
  margin-bottom: 15px;
}


.edu_degrees label {
  font-family: cursive;
  font-size: 16px;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 50px;
}

.media-container {
  margin-bottom: 200px;
}

.profile-menu-content {
  font-family: cursive;
}

.tech-skills-table {
  width: 100%;
  border-collapse: collapse;
}

.tech-skills-table tr, .tech-skills-table td, .tech-skills-table th {
  font-family: cursive;
}

.tech-skills-table tr {
  text-align: left;
}

.tech-skills-table th {
  background-color: #ddd;
}

.tech-skills-table td, .tech-skills-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.work-exp-list li {
  font-family: cursive;
}

span.flex-inline {
  display: contents;
}
