@media screen and (max-width: 485px) {

  #avatar-pic {
      position: relative;
      width: 200px;
      height: 200px;
  }

  .profile-blurb {
    display: block;
  }

  .fav-song-vid {
    width: 250px;
    height: 115px;
  }

  .fav-film-vid {
    width: 250px;
    height: 115px;
  }

  .fav-show-vid {
    width: 250px;
    height: 115px;
  }

}
